streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
huggingface-hub
python-dotenv
youtube-transcript-api
pypdf
requests
tiktoken
unicodedata
